@import "bootstrap";

.center
{
	text-align:center;
}

.jumbotron
{
	background-image: url("http://subtlepatterns.com/patterns/cream_pixels.png");
}

nav
{
	background-image: url("http://subtlepatterns.com/patterns/cream_pixels.png");
}

.reglist
{
	list-style-type: none;
} 

.reglist input
{
	width:100%;
}

#posts
{

	background-image: url("http://subtlepatterns.com/patterns/cream_pixels.png");

}


.large-text-area
{
	height:350px;
	width:100%;
}


