<div class="row">
	<div class="container">

		<div class="jumbotron col-md-12">

			<div class="col-md-6">

				<h1>welcome to <em>citoScribe</em>.</h1>

				<p class="small">a seemless writing platform - focused on simplicity. </p>
				<p class="small">quickly share your thoughts </p>
				
			</div>
	
			<div class="col-md-6">
					<h1>start writing today.</h1>
				
						<li class="reglist">	<input type="text" id="name" placeholder="name">
						<li class="reglist"> 	<input type="text" id="email" placeholder="email"> </li>
						<li class="reglist"> 	<input type="text" id="password" placeholder="password"> </li>
						<button type="button" class="btn btn-danger"><strong>register now</strong></button>		
						<button type="button" class="btn btn-primary"><strong>sign in</strong></button>

			</div>
		</div>
	</div>
</div>

